@import 'variables';

.item-show {
    box-shadow: $shadow-sm;
    max-width: 400px;
    margin: 0 auto;
}

.show-days-modal {
    width: 100%;
    max-width: 600px;
}

td {
    vertical-align: middle;
    height: 50px;
}