@import 'variables';

.btn-form {
    @extend .btn;
    box-shadow: inset 6px 6px 12px white, $shadow-sm;
    border: none;
    display: block;
    margin-left: auto;
}

.btn-no-style {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
}