<app-header-guest></app-header-guest>

<div id="content" class="content-center mx-auto">
    <main class="bg-light p-3 box-shadow-lg rounded-4">
        <h1 class="text-center h2">Restablecer Contraseña</h1>

        <form [formGroup]="form" (submit)="submit()">
            <app-form-control-a
                formControlName="email"
                [control]="email"
                type="email" 
                label="E-mail" 
                placeholder="Tu correo electrónico"></app-form-control-a>

            <app-form-control-a
                formControlName="password"
                [control]="password"
                type="password" 
                label="Contraseña" 
                placeholder="Tu nueva contraseña"></app-form-control-a>
            <app-form-control-a
                formControlName="password_confirmation"
                [control]="password_confirmation"
                type="password" 
                label="Repetir contraseña" 
                placeholder="Repite tu contraseña"></app-form-control-a>

            <input formControlName="token" type="hidden" value="token here">

            <div *ngIf="(form.statusChanges | async) === 'INVALID' && serverErrorMessage" class="text-danger h6 mb-4 arial">{{serverErrorMessage}}</div>

            <button type="submit" class="btn-form" [disabled]="(form.statusChanges | async) !== 'VALID'">
                <span class="spinner-border spinner-border-sm" *ngIf="showSpinner"></span>
                Restablecer contraseña
            </button>
        </form>

    </main>
    <div class="#actions mt-5">
        <div class="btn-group">
            <a routerLink="/register" class="btn btn-light">Crear cuenta</a>
            <div class="btn-group-separator"></div>
            <a routerLink="/login" class="btn btn-light">Iniciar sesión</a>
        </div>
    </div>
</div>