@import 'bs-for-components';

.page-actions {
    width: 100%;
    @include media-breakpoint-up(sm) {
        width: auto;
    }
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3.6rem;

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3vw;
        row-gap: 5rem;
    }
}

.show-lists-modal {
    width: 100%;
    max-width: 500px;
    button {
        min-height: 40px;
    }
    button:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}