<header class="py-0 pb-3 py-sm-4 d-flex flex-column flex-sm-row justify-content-between">
    <div class=" d-flex justify-content-between align-items-center">
        <h1 class="h2 m-0 me-3">Listas</h1>
        <button class="btn btn-light d-sm-none">Crear lista</button>
    </div>

    <div class="page-actions d-flex">        
        <button class="btn btn-light d-none d-sm-block" (click)="toggleTrails()">
            {{ showTrails ? 'Ocultar origen' : 'Mostrar origen' }}
        </button>
        
        <div class="btn-group d-sm-none mt-3">
            <button class="btn btn-light" (click)="toggleTrails()">
                {{ showTrails ? 'Ocultar origen' : 'Mostrar origen' }}
            </button>
            <div class="btn-group-separator"></div>
            <button class="btn btn-light" (click)="showListsModal = true">Mostrar listas</button>
        </div>
        
        <button class="btn btn-light d-none d-sm-block ms-3">Crear lista</button>
    </div>
</header>



<ng-container *ngIf="(lists$|async) as lists; else noListsYet">

    <!-- desktop -->
    <ng-container *ngIf="(sm$ | async); else mobileContent">

        <div class="content-center" id="lists-desktop">
            <main class="lists-container">
                <ng-container *ngFor="let list of lists">
                    <app-list-show [list]="list" [showTrails]="showTrails"></app-list-show>
                </ng-container>
            </main>
        </div>

    </ng-container>
    
    <!-- mobile -->
    <ng-template #mobileContent>

        <main id="lists-mobile">
            <div id="lists-mobile-carousel" class="carousel slide">
                <!-- carousel items -->
                <div class="carousel-inner">
                    <ng-container *ngFor="let list of lists; index as i">
                        <div class="carousel-item" [class.active]="currentListOnMobile === i">
                            <app-list-show [list]="list" [showTrails]="showTrails"></app-list-show>
                        </div>
                    </ng-container>
                </div>
            </div>
        </main>
            <!-- show lists mobile modal -->
            <app-modal-base (close)="showListsModal = false" *ngIf="showListsModal">
                <div class="show-lists-modal bg-light px-3 py-4 rounded">
                    <ng-container *ngFor="let list of lists; index as i">
                        <button #closeModalBtn class="btn btn-primary w-100" (click)="currentListOnMobile = i">{{ list.name }}</button>
                    </ng-container>
                </div>
            </app-modal-base>

    </ng-template>

</ng-container>

<ng-template #noListsYet>
    <!-- to keep footer at bottom while loading lists -->
    <div class="content-center"></div>
</ng-template>