<div class="w-100">
    
    <div class="dish-header d-flex justify-content-between align-items-stretch">

        <button data-bs-toggle="collapse" [attr.data-bs-target]="'#daySection_dish-' + (dish.pivot?.id || dish.id)"
        type="button" class="collapsed ps-3 d-flex align-items-center flex-fill btn-no-style">

            <svg class="me-1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 25 25" width="13" height="13">
                <path d="M18.25,14.5a2.5,2.5,0,1,0,2.5,2.5,2.491,2.491,0,0,0-2.5-2.5m-3.75,11c-5.523,0-11-5.477-11-11s5.473-11,11-11,11,5.477,11,11-5.482,11-11,11M14.5,2A12.5,12.5,0,1,0,27,14.5,12.5,12.5,0,0,0,14.5,2M17,10.75a2.5,2.5,0,1,0-2.5,2.5,2.5,2.5,0,0,0,2.5-2.5M10.75,14.5a2.5,2.5,0,1,0,2.5,2.5A2.5,2.5,0,0,0,10.75,14.5Z" transform="translate(-2 -2)"/>
            </svg>
            
            <svg class="chevron-up" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="6 15 12 9 18 15" />
            </svg>
            <svg class="chevron-down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <polyline points="6 9 12 15 18 9" />
            </svg>

            <p class="m-0 ms-1">{{ dish.name }}</p>
        </button>

        <div class="d-flex align-items-center">
            <app-button-svg routerLink="/dish/edit/{{dish.id}}" type="edit" class="me-2" *ngIf="editBtn"></app-button-svg>
            <app-button-svg type="add" class="pe-2" *ngIf="!noAddBtn" (click)="showSelectList = true"></app-button-svg>
            <app-button-svg type="delete" class="pe-2" *ngIf="noAddBtn" (click)="onDeleteClicked()"></app-button-svg>
        </div>
    </div>

    <ul class="list-unstyled collapse" id="daySection_dish-{{ (dish.pivot?.id || dish.id) }}">
        <ng-container *ngFor="let item of dish.items">
            <li class="ps-4">
                <app-itemable-show [item]="item" [noAddBtn]="noAddBtn" [trail]="trail ? trail+' / '+dish.name : dish.name"></app-itemable-show>
            </li>
        </ng-container>
    </ul>

</div>

<app-select-list *ngIf="showSelectList" (close)="showSelectList = false" (listSelected)="addItemsToList($event)"></app-select-list>