body {
    --texture: url(/assets/texture-mobile.png);
    --gradient-deg: 110deg;

    @include media-breakpoint-up(sm) {
        --texture: url(/assets/texture.png);
        --gradient-deg: 16deg;
    }

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2d3bf+0,f6c2cb+100 */
    background: $orange; /* Old browsers */
    background: var(--texture) repeat, $orange; /* Old browsers */
    background: var(--texture) repeat, -moz-linear-gradient(var(--gradient-deg),  $orange 0%, $redpink 100%) fixed; /* FF3.6-15 */
    background: var(--texture) repeat, -webkit-linear-gradient(var(--gradient-deg),  $orange 0%,$redpink 100%) fixed; /* Chrome10-25,Safari5.1-6 */
    background: var(--texture) repeat, linear-gradient(var(--gradient-deg),  $orange 0%,$redpink 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    color: $dark;
    font-family: 'Merienda', cursive;
}

h1 {
    font-weight: 700;
}

input:not([type="submit"]) {
    font-family: Arial, Helvetica, sans-serif;
    
    $placeholder-color: rgb(165, 165, 165);
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $placeholder-color;
        opacity: 1; /* Firefox */
    }      
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $placeholder-color;
    }    
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $placeholder-color;
    }
}