$orange: #f2d3bf;
$redpink: hsl(350, 80%, 80%);

$mobilemenu-orange: rgba(133, 109, 92, 0.9);
$mobilemenu-redpink: rgba(123, 81, 88, 0.95);

$shadow-sm: 3px 3px 6px rgba(0, 0, 0, 0.3);
$shadow-lg: 0px 5px 10px rgba(0, 0, 0, 0.3);