<div id="content" class="content-center mx-auto mt-sm-5">
    <main class="bg-light p-3 box-shadow-lg rounded-4">
        <h1 class="text-center h2">Editar Perfil</h1>
        <app-edit-profile-form></app-edit-profile-form>
    </main>

    <div class="bg-light p-3 box-shadow-lg rounded-4 mt-4">
        <h2 class="text-center">Cambiar Contraseña</h2>
        <app-edit-password-form></app-edit-password-form>
    </div>

    <!-- delete account -->
    <div class="bg-light p-3 box-shadow-lg rounded-4 mt-5">
        <button (click)="show_confirmDeleteAccountModal = true" type="button"
            class="btn btn-outline-danger border border-2 border-danger">Eliminar cuenta</button>
    </div>
</div>

<!-- modal -->
<app-modal-base *ngIf="show_confirmDeleteAccountModal" (close)="show_confirmDeleteAccountModal = false">
    <div class="confirm-delete-account-modal bg-light rounded p-3">
        <div>
            <h5 class="text-center">¿Eliminar mi cuenta?</h5>
            <p class="text-center">Esta acción no se puede revertir.</p>
        </div>
        <div>
            <form [formGroup]="form" (submit)="deleteAccount()">
                <app-form-control-a
                    formControlName="password"
                    [control]="password"
                    type="password" 
                    label="Contraseña" 
                    placeholder="Confirma tu contraseña"></app-form-control-a>

                <div class="d-flex">
                    <button #closeModalBtn type="button" class="btn btn-info w-50">Cancelar</button>

                    <button type="submit" class="btn btn-danger w-50 ms-3" [disabled]="(form.statusChanges | async) !== 'VALID'">
                        <span class="spinner-border spinner-border-sm" *ngIf="showSpinner"></span>
                        Eliminar mi cuenta
                    </button>
                </div>
            </form>
        </div>
    </div>
</app-modal-base>