<app-header-guest></app-header-guest>

<div id="content" class="content-center mx-auto">
    <main class="bg-light p-3 box-shadow-lg rounded-4">
        <h1 class="text-center h2">Iniciar Sesión</h1>

        <form [formGroup]="form" (submit)="submit()">
            <app-form-control-a
                formControlName="email"
                [control]="email"
                type="email" 
                label="E-mail" 
                placeholder="Tu correo electrónico"></app-form-control-a>
            <app-form-control-a
                formControlName="password"
                [control]="password"
                type="password" 
                label="Contraseña" 
                placeholder="Tu contraseña"></app-form-control-a>

            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="remember">
                <label class="form-check-label" for="flexCheckDefault">
                  Mantener sesión activa
                </label>
            </div>

            <div *ngIf="(form.statusChanges | async) === 'INVALID' && authError" class="text-danger h6 mb-4 arial">{{authError}}</div>

            <button type="submit" class="btn-form" [disabled]="(form.statusChanges | async) !== 'VALID'">
                <span class="spinner-border spinner-border-sm" *ngIf="showSpinner"></span>
                Iniciar sesión
            </button>
        </form>

    </main>
    <div class="#actions mt-5">
        <div class="btn-group">
            <a routerLink="/forgot-password" class="btn btn-light">Olvidé mi contraseña</a>
            <div class="btn-group-separator"></div>
            <a routerLink="/register" class="btn btn-light">Crear cuenta</a>
        </div>
    </div>
</div>