<form [formGroup]="form" (submit)="submit()">
    <app-form-control-a
        formControlName="current_password"
        [control]="current_password"
        type="password" 
        label="Contraseña actual" 
        placeholder="Tu contraseña actual"></app-form-control-a>

    <app-form-control-a
        formControlName="password"
        [control]="password"
        type="password" 
        label="Contraseña" 
        placeholder="Tu nueva contraseña"></app-form-control-a>

    <app-form-control-a
        formControlName="password_confirmation"
        [control]="password_confirmation"
        type="password" 
        label="Repetir contraseña" 
        placeholder="Repite tu nueva contraseña"></app-form-control-a>

    <div *ngIf="(form.statusChanges | async) === 'INVALID' && passwordConfirmationError" class="text-danger h6 mb-4 arial">{{passwordConfirmationError}}</div>

    <button type="submit" class="btn-form" [disabled]="(form.statusChanges | async) !== 'VALID'">
        <span class="spinner-border spinner-border-sm" *ngIf="showSpinner"></span>
        Actualizar contraseña
    </button>
</form>