@import 'bs_for_components';

:host {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
    min-height: 100vh;
}

#router-outlet {
    // background-color: red;
    flex: 1;
    display: flex;
    flex-direction: column;

    &.adjust-margin-to-side-menu {
        @include media-breakpoint-up(sm) {
            margin-left: calc(24px + 175px); // side-menu.component.scss -> nav { width }
        }
    }

    z-index: 1;
}

#app-side-menu {
    z-index: 0;
    /* more styles in side-menu.component.scss */
}