@import 'src/styles/bootstrap';
:host {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }
    min-height: 100vh;
}

#router-outlet {
    // background-color: red;
    flex: 1;

    &.adjust-margin-to-side-menu {
        @include media-breakpoint-up(sm) {
            margin-left: calc(-12vw + 24px); // side-menu.component.scss -> nav { margin-right }
        }
    }
}

#app-side-menu {
    display: none;
    @include media-breakpoint-up(sm) {
        display: block;
    }
}