<div class="mb-4">
    <label for="{{idFor || formControlName}}" class="form-label">{{label}}</label>

    <input id="{{idFor || formControlName}}" #formInput
        (input)="input($event)" 
        (blur)="blur($event)" 
        (focus)="onFocus($event)"
        [type]="type" 
        [value]="value" 
        [placeholder]="placeholder" 
        class="form-control" 
        [class.is-invalid]="isInvalid" 
        [attr.min]="type === 'number' ? 0 : null"
        [autocomplete]="autocomplete"
    >

    <div *ngIf="isInvalid" class="invalid-feedback arial">{{ errorMessage }}</div>
    <!-- <pre>{{control.errors | json}}</pre> -->
    <!-- <code>{{isInvalid}}</code> -->
</div>
